@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&family=Shrikhand&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    height: auto;
}

.wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* HEADER */
.conteneur-i-logo{
    display: flex;
}

.icone-retour{
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fa-arrow-left{
    font-size: 30px;
    color: #222;
    margin-left: 100%;
}

.logo{
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo .desktop-logo{
    margin-top: 40px;
    margin-bottom: 20px;
}
.logo .responsive-logo{
    display: none;
}

.menu-illustration{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
}
.la-palette-du-gout{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* MAIN */

.menu{
    width: 100%;
    margin-top: -50px;
    background: #f2f2f2;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    position: absolute;
    z-index: 1;
}
h1{
    font-size: 2.5rem;
    margin-left: 35px;
    font-family: "Shrikhand";
    margin-top: 50px;
    position: relative;
}

.fa-heart{
    position: absolute;
    right: 50px;
    top: 60px;
    font-size: 45px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #FF79DA, #99E2D0);
    transition: background-position ease-out .6s;
    background-size: 270%;
    cursor: pointer;
}

.fa-heart:active{
    background-position: -70%;
    -webkit-text-stroke-color: #ffffff;
    font-size: 47px;

}

h2{
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 35px;
    padding-bottom: 5px;
}
.border-h2{
    width: 60px;
    height: 5px;
    margin-left: 35px;
    border: 3px solid #99E2D0;
}

/* FOOTER */

footer{
    background: #222;
    width: 100%;
    height: 200px;
}

.h3-footer{
    color: #ffffff;
    font-size: 2.5rem;
    font-family: 'Shrikhand';
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 15px;
}
.footer-info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-info a{
    margin-left: 70px;
    color: #ffffff;
    text-decoration: none;
}