@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&family=Shrikhand&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    height: auto;
}

.wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .desktop-logo{
    margin-top: 40px;
    margin-bottom: 20px;
}

.logo .responsive-logo{
    display: none;
}

.localisation{
    border-top: 3px solid #cac2c2;
    background: #e7e5e5;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid{
    font-size: 1.4rem;
    margin: 0 20px 0 -30px;
}

.localisation span{
    font-size: 1.4rem;
    color: #3d3d3d;
    font-weight: 600;
}

.présentation{
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    font-weight: 900;
    margin: 40px 0 10px 0;
    padding: 0 50px;
}

.accroche{
    color: #868282;
    font-weight: 400;
    font-size: clamp(1.16rem, 4vw, 1.5rem);
    text-align: center;
    padding: 0 25px;
}

.btn_header{
    width: 300px;
    height: 70px;
    border-radius: 40px;
    box-shadow: 0 3px 12px #8d8d8d;
    margin: 20px 0 60px 0;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border: none;
    cursor: pointer;
}

.btn_header span{
    color: #f1f1f1;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn_header:hover{
    box-shadow: 0 3px 12px #1a1a1a;
    opacity: 0.8;
}

/* SECTION FONCTIONNEMENT */

.fonctionnement{
    height: auto;
}

.étapes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.choix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    margin-left: 20px;
    border-radius: 30px;
    font-weight: 900;
    border: 1px solid #f1f1f1;
    box-shadow: 0 3px 10px #8d8d8d;
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
}

.première{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #9356DC;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -15px;
}

.fa-mobile-screen-button{
    color: #868282;
}

.choix:hover{
    background: rgba(147, 86, 220, 0.2);
    border: 1px solid rgba(147, 86, 220, 0.2);
    box-shadow: 0 3px 10px #555454;
}

.choix:hover .fa-mobile-screen-button{
    color: #9356DC;
}
.choix:hover .première{
    color: #cdb3f0;
}

.composition{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    margin-left: 20px;
    border-radius: 30px;
    font-weight: 900;
    border: 1px solid #f1f1f1;
    box-shadow: 0 3px 10px #8d8d8d;
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
}

.deuxième{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #9356DC;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -15px;
}

.fa-list-ul{
    color: #868282;
}

.composition:hover{
    background: rgba(147, 86, 220, 0.2);
    border: 1px solid rgba(147, 86, 220, 0.2);
    box-shadow: 0 3px 10px #555454;
}

.composition:hover .fa-list-ul{
    color: #9356DC;
}
.composition:hover .deuxième{
    color: #cdb3f0;
}


.dégustation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    margin-left: 20px;
    border-radius: 30px;
    font-weight: 900;
    border: 1px solid #f1f1f1;
    box-shadow: 0 3px 10px #8d8d8d;
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
}

.troisième{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #9356DC;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -15px;
}

.fa-store{
    color: #868282;
}

.dégustation:hover{
    background: rgba(147, 86, 220, 0.2);
    border: 1px solid rgba(147, 86, 220, 0.2);
    box-shadow: 0 3px 10px #555454;
}

.dégustation:hover .fa-store{
    color: #9356DC;
}
.dégustation:hover .troisième{
    color: #cdb3f0;
}