@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 100%;
    height: auto;
}
